<head>
  <title>Chestionar</title>
</head>
<body>
  <div id="quiz">
    <h1>Quiz fotografii</h1>
    <form action="/rezultat-chestionar" method="POST">
      <% for(var i = 0; i < intrebari.length; i++) { %>
      <div class="question">
        <h3><%= intrebari[i].intrebare %></h3>
        <% for(var j = 0; j < intrebari[i].variante.length; j++) { %>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="intrebare<%= i %>" value="<%= j %>"
            id="intrebare<%= i %>-varianta<%= j %>">
          <label class="form-check-label" for="intrebare<%= i %>-varianta<%= j %>">
            <%= intrebari[i].variante[j] %>
          </label>
        </div>
        <% } %>
      </div>
      <% } %>
      <br><input class="btn btn-primary" type="submit" value="Trimite" />
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/quiz.js"></script>
</body>
