<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Vizualizare coș</title>
</head>
<body>
  <div class="container">
    <h1>Coș de cumpărături</h1>
    <% if (produseCos && produseCos.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Preț</th>
            <th>Cantitate</th>
            <th>Total produs</th>
          </tr>
        </thead>
        <tbody>
          <% let totalComanda = 0; %>
          <% produseCos.forEach((produs) => { %>
            <tr>
              <td><%= produs.id %></td>
              <td><%= produs.nume %></td>
              <td><%= produs.pret %> lei</td>
              <td><%= produs.cantitate %></td>
              <td><%= produs.total.toFixed(2)%> lei</td>
            </tr>
            <% totalComanda += produs.total; %>
          <% }); %>
          <tr>
            <td colspan="4">Total comandă</td>
            <td><%= totalComanda.toFixed(2) %> lei</td>
          </tr>
        </tbody>
        
      </table>
    <% } else { %>
      <p>Nu ai niciun produs în coș.</p>
    <% } %>
    <br><br>
    <button class="btn btn-primary btn-back"><a href="/">Înapoi la produse</a></button>
  </div>
</body>
</html>
